<section class="footer">
  <p>Practica realizada por <a href="https://www.linkedin.com/in/mar%C3%ADaeugeniacosta/" target="_blank" rel="noopener noreferrer">María Eugenia Costa</a></p>
  <p>Copyright &copy; 2022</p>
</section>