<h2>Formulario de contacto</h2>
<% if (typeof errors != 'undefined') { %>
  <ul>
    <% errors.forEach(error => { %>
      <li> <%= error.msg %> </li>
    <% })  %>
  </ul>
<% } %>
<section class="formulario-contacto">
  <form action="/contacto" method="post">
    <section class="nombre">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" value="<%= values.nombre %>">
    </section>
    <section class="correo">
      <label for="email">Correo:</label>
      <input type="text" id="email" name="email" value="<%= values.email %>"">
    </section>
    <section class="texto">
      <label for="mensaje">Mensaje:</label>
      <textarea name="mensaje" id="mensaje" cols="30" rows="10"><%= values.mensaje %></textarea>
    </section>
    <section class="boton-envio">
      <button type="submit">Enviar</button>
    </section>
  </form>
</section>