<% if (producto) { %>
  <h2>Codigo: <%= producto.codigo %></h2>
  <h3><%= producto.nombre %></h3>
  <p><%= producto.descripcion %></p>
  <p><%= producto.precio %></p>
<% } else { %>
  <p>No existe el producto</p>
<% }%>

