<h1 class="text-center my-5">Crear producto</h1>
<section class="row justify-content-center">
  <div class="col col-sm-12 col-md-8">
    <form action="/productos/store" method="post">
      <div class="mb-3">
        <label for="codigo" class="form-label">Codigo:</label>
        <input type="text" id="codigo" name="codigo" class="form-control">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control">
      </div>
      <div class="mb-3">
        <label for="descripcion">Descripcion:</label>
        <textarea  class="form-control" placeholder="Ingresa la descripcion del producto ..." name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
      </div>
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria:</label>
       <select name="categoria" id="categoria">
        <option value="1">1 - CAPSULAS</option>
        <option value="2">2 - GRANOS</option>
        <option value="3">3 - MOLIDO</option>
       </select>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" id="precio" name="precio" class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</section>