<from action="/productos/store" method="post">
  <div>
    <label for="codigo">Codigo:</label>
    <input type="text" id="codigo" name="codigo">
  </div>
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
  </div>
  <div>
    <label for="descripcion">Descripcion:</label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label for="categoria">Categoria:</label>
   <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
   </select>
  </div>
  <div>
    <button type="submit">Guardar</button>
  </div>
</from>