<h2 class="text-center my-5">Listado de productos</h2>

<div class="row">
    <% productos.forEach(producto => { %>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"> <%= producto.nombre %> </h2>
            <p class="card-text"> <%= producto.descripcion %> </p>
            <p class="btn btn-outline-primary"> $ <%= producto.precio %> </p>
            <p>
              <a href="/productos/<%= producto.codigo %>" class="btn btn-primary">Ver más</a>
            </p>
          </div>
        </div>  
      </div>
    <% }) %>
</div>
