<h2>Listado de productos</h2>
  <ul>
    <% productos.forEach(producto => { %>
      <li> <a href="/productos/<%= producto.codigo %>"> Producto: <%= producto.nombre %> </a></li>
    <% }) %>
  </ul>

  <a href="/productos/create"> Crear producto</a>