<% if (producto) { %>
  <h2>Nombre: <%= producto.nombre %></h2>
  <h3>Codigo: <%= producto.codigo %></h3>
  <p>Descripcion: <%= producto.descripcion %></p>
  <p class="btn btn-outline-primary">$ <%= producto.precio %></p>
<% } else { %>
  <p>No existe el producto</p>
<% }%>